
.dotted_line li { 
    padding: 22px 0px 20px 0px; text-transform: uppercase; font-family:'express-regular','Arial'; border-bottom: 1px solid #d5d5d5;  font-size: 13px; margin-right: 15px;  
                }
 

.dotted_line li.selected { 
     margin-right: -2px; 
                }

ul.dotted_line li a { color: black;  } 

.my_account { text-transform: uppercase;   font-family:'express-bold','Arial'; }


.fondo_cuenta { background: #efefef;  }
 

span.icon {
    height: 30px;
    width: 30px;
    margin-left: 3px;
    margin-top: -4px;
    margin-right: 6px;
    display: block;
    float: left;
    vertical-align: middle;
    background: url(../images/default/account-sprite.png) no-repeat; 

          }
 

ul.dotted_line li.selected {     
    background-color: white;
    border: 2px solid #d5d5d5;
    border-right: 0px; }


.mis_noti.icon {        background-position: 0px -298px;  }

.mis_pedidos.icon {        background-position: 0px -149px;  }

.mis_favoritos.icon {        background-position: 0px -198px;  }

.mis_devoluciones.icon {     background-position: 0px -149px; }

.mis_direcciones.icon {     background-position: 0px -50px; }

.mis_tarjetas.icon {     background-position: 0px -100px; }

.mis_cupones.icon {     background-position: 0px -350px; }




.user_panel { background: white; min-height: 500px; margin-top: 15px; padding: 20px 20px 0px 20px;   border: 1px solid #dedede;  font-family:'express-regular'; margin-bottom: 40px;  }

.user_panel h2  {  margin: 0px 0px 20px 0px;   padding-bottom: 15px;    border-bottom: 3px solid #e5e5e5;  font-family:'express-bold','Arial'; text-transform: uppercase;   }






.cart_detail {
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.f_auto {
    padding-top: 15px;
}

.p_auto{
    padding-left: 0;
}
ul.panel_info {
    color: black;
}



ul.panel_info p { 
    font-size: 14px;
    font-family:'express-bold','Arial'; 
}


ul.panel_info span { font-family:'express-regular'; font-size: 14px; letter-spacing: 0.06; margin-left: 5px;  }


ul.panel_info li {
    margin-top: 5px;
}


.sidebar .sr { z-index: 1;  }


.form_edit {
    padding: 10px 30px 30px 30px;
    width: 70%; 
    
}

.form_edit .gender { 
    border: 0px; 
    padding: 6px;
    width: 100%;
    background: #eaeaea; 
}


.form_edit input[type=text] {
    padding: 6px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #bdbdbd; }



.form_edit input[type=password] {

    border: 0px;    
    padding: 6px;
    width: 100%;
    background: #eaeaea;  }

 


.form_edit .date {     border: 0px;
    padding: 6px;
    width: 100%;
    background: #f1f1f1; 
    margin-bottom: 10px; 
    }


.form_edit .gender {
    padding: 6px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #bdbdbd;
}
 
.form_edit .form-group {
    margin-top: 10px;
    font-family: 'express-regular','Arial';
}





.form_comun {
    padding: 10px 30px 30px 30px;
    width: 70%; 
    
}

.form_comun .gender { 
    border: 0px; 
    padding: 6px;
    width: 100%;
    background: #eaeaea; 
}


.form_comun input[type=text] {
    padding: 6px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #bdbdbd; }



.form_comun input[type=password] {

    border: 0px;    
    padding: 6px;
    width: 100%;
    background: #eaeaea;  }

 


.form_comun .date {     border: 0px;
    padding: 6px;
    width: 100%;
    background: #f1f1f1; 
    margin-bottom: 10px; 
    }


.form_comun .gender {
    padding: 6px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #bdbdbd;
}
 
.form_comun .form-group {
    margin-top: 10px;
    font-family: 'express-regular','Arial';
}

.form_comun .btn-favorite{
    margin: 0px;
    border-radius: 0.4em;
    line-height: 1.3em;
    text-transform: uppercase;
    padding: 10px 22px 7px 22px;;
    background: #000;
    border-width: 0px;
    color: #FFF;
    font-family: 'express-bold','Arial';
    font-weight: bold; 
}
.form_comun label{
    font-size: 15px;
}
ul.detail-product{
    margin-top: 0;
}
.btn-tbl{
    border-radius: 0.4em;
    background: #000;
    color: #fff;
    border:0;
    padding: 6px;
    font-weight: bold;
}
.link-account{
    text-decoration: underline;
    cursor: pointer;
}
.divider{
    margin-bottom: 0;
    width:  96%;
}
#container-address{
    display: none;
}
#link-cancel{
    text-decoration: underline;
    cursor: pointer;
    margin-left: 7px;
}
.tl{
    display: none;
    font-size: 0.929em;
    font-family: 'exp-medium',arial;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin: 0;
    font-weight: normal;
}
.info-address{
    margin-top: 20px;    
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.info-address:after {
    content: "";
    clear: both;
    display: table;
}
.header-address {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 16px;
}
.header-address h4 {
    font-size: 0.929em;
    font-family: 'exp-medium',arial;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin: 0;
    font-weight: normal;
}
.container-address {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    font-size: 0.929em;
}
.container-address:after {
    content: "";
    clear: both;
    display: table;
}
.container-address input[type="radio"]{
    line-height: 1.3em;
    float: left;
    display: inline-block;
    margin: 2px 4px 0px 0px;
}
.container-address .list-left{
    margin-top:0;
    padding-left: 0px;
    float: left;
}
.container-address .list-left li{
    color: #000;
    font-family: "exp-regular", Arial;
    font-size: 0.929em;
}
.container-address .action-links {
    float: right;
    display: inline-block;
}
.container-address .action-links ul{
    margin: 0px;
    font-size: 14px;
    line-height: 1.6;
}
.container-address .action-links ul li{
    float: left;
    padding-right: 8px;
    border-right: 1px solid #9b9b9b;
    margin-right: 8px;
    line-height: 1em;
}
.container-address .action-links ul .last{
    border: 0;
    margin-right: 0;
    padding-right: 0;
}
.container-address .action-links ul li a{
    font-size: 0.923em;
    line-height: 1.3em;
    color: #3895ad;
    text-decoration: underline;
    cursor: pointer;
}
.container-address .action-links ul li a:hover{
    color: #0c687f;
}