

.info_product .price { border-bottom: 1px solid #575757;  margin-top: 10px;     font-family:'express-regular',Arial;   
	font-size: 0.94em;
   }

.info_product .desc p{   
	font-size: 0.97em;
    margin-top: 5px; 
    font-family:'express-regular',Arial;   
	color: #575757;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize; 
					}


.desc a:hover { text-decoration: none; }


.header-catalogo {  
    font-family: 'express-regular',Arial;
    font-size: 1.5em;
    font-weight: 100;
    color: black; }


.navegacion li { 
    display: inline-block;
    font-size: 13.3px;
    padding-top: 10px;
    color: #b7b7b7; 
               } 


.navegacion li a { color: gray; }
.navegacion li strong { color: black;  }




ul.navegacion { margin-top: 0px;     font-family: 'express-regular',Arial;   }

.header-catalogo { margin-top: 5px;  }

ul.numbers li { display: inline-block; margin-left: 12px;  }
    
ul.numbers { text-align: right;  }

.numbers li em {
    background: #000;
    color: #fff;
    font-style: normal;
    padding: .25em .5em;
    border-radius: 50%;
}



.numbers li em a { color: white;  } 
.numbers li em a:hover { text-decoration: none; }



.numbers li a { color: #666;  }
.numbers li a:hover { text-decoration: none;   }




.right-arrow {
    width: 18px;
    height: 20px;
    background-image: url("../images/default/icon-sprite.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
}



.right-arrow {
    background-position: -135px -633px;
}


.ft_extend h2 { font-family:'express-bold'; text-transform: uppercase;  font-size: 2.143em; border-bottom: 1px solid gray; margin-bottom: 10px;  }

.ft_extend p {  font-family:'express-regular'; }
 

.n_filter h4 { border-bottom: 1px solid black;     padding-bottom: 5px;      margin-bottom: 0px; } 

.info_product  {  min-height: 85px;   }

.info_product .price { font-weight: bold;  }

.n_filter h4 {  background: url("../images/default/plus-catalog.png") right center no-repeat;     cursor: pointer; }

.n_filter h4.cerrado {  background: url("../images/default/minus-catalog.png") right center no-repeat;     cursor: pointer; }


.normal_filter li.selected { background-color: $gris_express; font-weight: bold;  }

.normal_filter li.selected a {  color: black;   }

.normal_filter li { padding: 2px 2px 2px 10px; margin-bottom: 11px;  font-family:'express-regular','Arial';  font-size: 14px; letter-spacing: .06em;   }

.normal_filter li a { color: gray;  }

.name_catalog { margin-bottom: 15px;  }

.normal_filter .c_color { margin-right: 10px;  }


.normal_filter.color li.selected {
    background-color: white;
    font-weight: bold;
}

