


p { margin-top: 0px; margin-bottom: 0px;  }

.container { width: 100%;  }


ul { margin-right: 0px; margin-left: 0px;  padding-left: 0px; padding-right: 0px;  }

li { list-style-type: none; }


.col5 { 
	width: 20%;  
	float: left;   
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
} 
 

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    opacity: 0.25;
    cursor: auto;
    pointer-events: initial; 
}


.rl { margin-right: 0px; margin-left: 0px;  }
.fp { padding-right: 0px; padding-left: 5px;  }
.pf { padding-right: 0px; padding-left: 0px;  }


.sr  { padding-right: 0px;  }
.sl  { padding-left: 0px;  }


.m15 { margin-left: 15px; margin-right: 15px;  }

.w10 { width: 100%;  }   


.text-pass { text-align: right;   }

.text-right { text-align: right;  }


.shop_size {     
    height: 40px;
    background: black;
    color: white;
    padding-left: 40px;
    font-family: cond-regular;
    font-size: 20px;
    padding-top: 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px; 
          }



.center { text-align: center;  }

.social.center { margin-top: 30px;  }


.form-group { display: table;     width: 100%; }






