

.reset_mg { padding: 0px 0px 10px 0px;    }

.detail_product h1 { margin-top: 0px;   font-family:'express-light'; letter-spacing: 0.04em;    }

#detalles h3.abierto {
    background: url("../images/default/minus.png") right center no-repeat;
    color: #000;

}
  
.comun_collapse {
    padding-left: 30px;
    padding-bottom: 0px;
}

.comun_collapse p {
    padding-top: 3px;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
    font-family: 'express-regular','Arial';
}



#detalles h3 {
    font-weight: 100;
    font-size: 17px;
    background: url("../images/default/plus.png") right center no-repeat;
    color: #555;
    font-family:'express-bold','Arial'; 
    text-transform: none;     
    border-bottom: 1px solid #000;
}


.also_whit h2 { font-family:'express-serif';  border-bottom: 1px solid black; margin-top: 50px;  }


.also_des p {  font-family:'express-regular';  }



.also_des {  margin-top: 10px;   }

.also_des .also_price { font-family:'express-bold';  }


.price { font-family:'express-regular';  font-size: 20px;  }

.price .old_price { color: gray;  } 

.price .new_price  { color: #ca1b1b; margin-left: 10px;   }

.prd_info { font-family:'express-regular'; margin-top: 10px; margin-bottom: 20px;   }


.btn-express-white  { 
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;  
    margin: 0px;
    line-height: 1.3em;
    text-transform: uppercase;
    padding: 10px 22px 8px 20px;
    border-width: 0px;
    color: gray;
    font-family: 'cond-regular','Arial';
    font-weight: bold;
    font-size: 17px; 

}     
 

.little_info {  font-family:'express-regular';  text-align: center; margin: 15px 0px 10px 0px; font-weight: bold;  }


.new_info {  font-family:'express-regular'; font-weight: bold; font-size: 13.5px;  }


.normal_select.color li { display: inline-block; margin-right: 15px;  }

.normal_select.color li.selected {     border-bottom: 2px solid #636363;  padding-bottom: 4px;   }


.normal_select.color { margin-top: 5px;  margin-bottom: 20px;  }

.more_colors p {   font-family:'express-light'; color: gray;   }


