 

ul.f_child {
    margin-left: 20px;
}


ul.f_child li {
    list-style: inherit;
    color: black;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ol.fq_points li {
    list-style: inherit;
    color: black;
    margin-top: 5px;
}

.bt_sections { 
    color: #000000;
    font-family: "express-regular", 'Arial';
    font-size: 1em; 
    font-style: normal;
}

.bt_sections h3 {  font-family: "express-bold", 'Arial'; text-transform: uppercase;  }

.bt_sections h1 {  font-family: "express-bold", 'Arial'; text-transform: uppercase; margin-top: 40px; font-size: 25px;   }

.bt_sections p { margin-bottom: 12px; font-size: 15px;  } 




