
.bck_login { background-color: $gris-express;  }

.client_return h3 {   font-family:'express-bold','Arial'; font-size: 27px;  text-transform: uppercase; margin-bottom: 0px;   }

.client_return  {  margin-top: 60px; margin-left: 20px;  }

.client_return p { margin: 5px 0px 15px 0px;  font-family:'express-regular','Arial'; }

.client_return label { display: block; text-transform: uppercase;  margin-bottom: 3px; font-family:'express-regular','Arial'; font-size: 16px;   }

.form-group .sign { padding: 5px; margin-bottom: 30px; width: 340px;  }

.sign-legend { text-align: center; padding: 20px; background-color: #efefef; margin-top: 70px;  }

.btn-express.sign { width: 140px;  }

.client_return.border { padding-left: 18%;  border-right: 1px solid  #d8d8d8; min-width: 340px;  }

label.pwd { width: 340px;  }

label.pwd span { float:right; text-transform: none;  }

label.pwd span a { color: gray; text-decoration: underline; font-size: 14px;  }
