


.data_register { float: right; width: 406px; margin: 40px 10px 20px 0px; background-color: white;  }

.bck_register { background-image: url('../images/default/b_register.jpg');  min-height: 700px;  }

.form_register { padding: 10px 30px 30px 30px;  }
 
.data_register h2.title { margin: 30px 0 10px 30px; font-family:'express-bold','Arial';     line-height: 25px; } 

 
.form_register .gender { 
    border: 0px; 
    padding: 6px;
    width: 100%;
    background: #eaeaea; 
}


.form_register input[type=text] {

    border: 0px;    
    padding: 6px;
    width: 100%;
    background: #eaeaea;  }



.form_register input[type=password] {

    border: 0px;    
    padding: 6px;
    width: 100%;
    background: #eaeaea;  }




.form_register .date {     border: 0px;
    padding: 6px;
    width: 100%;
    background: #eaeaea;
    margin-bottom: 10px; 
    }



h4.description { font-family:'express-regular','Arial'; font-weight: 100; font-size: 18px; 

line-height: 20px;   margin: 0px 0px 0px 30px; letter-spacing: .03em; 

 }


.btn-express {     
margin: 0px; 
border-radius: 0.4em;
line-height: 1.3em; 
    text-transform: uppercase;
    padding: 14px 22px 8px 22px;
    background: #000;
    border-width: 0px;
    color: #FFF;
    font-family:'express-bold','Arial';
    font-weight: bold; }


.form_register .form-group { margin-top: 10px; font-family:'express-regular','Arial';  }


.btn-express.register { margin-top: 10px; margin-bottom: 10px;  }


