

.infoProduct h4 {     
	color: black;  
	text-align: center;
    font-size: 14px;
    font-family: 'cond-regular';
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;  } 


.infoProduct a { color: #000;  }
.infoProduct a:hover { text-decoration: none;  }
.homeProduct { margin-top: 30px;  } 
.homeBanner {margin-top: 30px;  }
.homeBanner .col-xs-12 { margin-top: 10px;  }


h3.titleAcc {     
	font-size: 2.1em;
    text-align: center;
    font-family: 'express-serif';
    color: black;
    margin-bottom: 1.8rem;  }

.infoProduct h4:after {     border-bottom: .6rem solid transparent;
    border-top: .6rem solid transparent;
    border-left: 0.6rem solid #000;
    content: "";
    display: inline-block;
    height: 0;
    left: 0;
    position: relative; 
    top: -.3rem;
    vertical-align: middle;
    width: 0;
    border-width: .4rem;
}


img.swp {     
    padding-left: 3px;
    padding-right: 5px; }


.you_may { font-family: 'express-bold';  margin-top: 50px;  }

.m_custom {
    padding-left: 4px;
    padding-right: 4px;
}


